#!/usr/bin/env python
PACKAGE = "usb_cam"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("exposure_auto", bool_t, 0, "Enable auto exposure", True)

exit(gen.generate(PACKAGE, "usb_cam", "CameraParameter"))
