name: CI

on:
  pull_request:
  push:
    branches:
      - sq-master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        env:
          - ALPINE_ROS_TAG=3.7-kinetic
          - ALPINE_ROS_TAG=3.8-melodic
          - ALPINE_ROS_TAG=3.11-noetic
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test
        run: |
          eval export ${{ matrix.env }}
          docker run -it --rm \
            -v $(pwd):/src/$(basename $(pwd)):ro \
            ghcr.io/alpine-ros/ros-abuild:${ALPINE_ROS_TAG}
